/**
 * PageHeader Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2017-2018, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__pageHeaderPrefixCls: kuma-page-header;

.@{__pageHeaderPrefixCls}-inner {
  margin: 0 auto;
}

.@{__pageHeaderPrefixCls}-top-container {
  padding: 20px 44px 0px;
}

.@{__pageHeaderPrefixCls}-crumb {
  &:last-child {
    padding-bottom: 20px;
  }
}

.@{__pageHeaderPrefixCls}-box {
  padding: 0 0 16px;
  display: flex;
  &__has-crumb {
    padding-top: 24px;
  }
  &__has-tab {
    padding-bottom: 20px;
  }
}

.@{__pageHeaderPrefixCls}-box-item {
  flex: auto;
  width: 0;
}

.@{__pageHeaderPrefixCls}-box-item-logo {
  flex: 0 1 auto;
  width: auto;
}

.@{__pageHeaderPrefixCls}-box-item-main {
  &__with-logo {
    padding-left: 16px;
  }
}

.@{__pageHeaderPrefixCls}-main-item {
  display: flex;
  &__has-left {
    .@{__pageHeaderPrefixCls}-action,
    .@{__pageHeaderPrefixCls}-extra-content {
      padding-left: 64px;
    }
  }
}

.@{__pageHeaderPrefixCls}-title,
.@{__pageHeaderPrefixCls}-action,
.@{__pageHeaderPrefixCls}-content,
.@{__pageHeaderPrefixCls}-extra-content {
  flex: auto;
  width: 0;
}

.@{__pageHeaderPrefixCls}-action,
.@{__pageHeaderPrefixCls}-extra-content {
  text-align: right;
}

.@{__pageHeaderPrefixCls}-title {
  font-size: 20px;
  font-weight: bold;
  color: @dark-alpha-2;
  margin: 0;
}

.@{__pageHeaderPrefixCls}-content {
  padding-top: 20px;
}

.@{__pageHeaderPrefixCls}-extra-content {
  padding-top: 20px;
}

.@{__pageHeaderPrefixCls}-tab {
  margin-bottom: -1px;
  background: @normal-alpha-8;
  .kuma-tab-bar {
    background: white!important;
  }
  .kuma-tab {
    background: transparent;
  }
  .kuma-tab.kuma-tab-open {
    background: transparent;
    > .kuma-tab-bar {
      border-bottom-color: @normal-7;
    }
  }
}

@media screen and (max-width: 768px) {
  .@{__pageHeaderPrefixCls}-main-item {
    display: block;
    &__has-left {
      .@{__pageHeaderPrefixCls}-action,
      .@{__pageHeaderPrefixCls}-extra-content {
        padding-left: 0;
      }
    }
  }
  .@{__pageHeaderPrefixCls}-title,
  .@{__pageHeaderPrefixCls}-action,
  .@{__pageHeaderPrefixCls}-content,
  .@{__pageHeaderPrefixCls}-extra-content {
    width: auto;
  }
  .@{__pageHeaderPrefixCls}-action,
  .@{__pageHeaderPrefixCls}-extra-content {
    text-align: left;
  }
  .@{__pageHeaderPrefixCls}-action {
    padding-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .@{__pageHeaderPrefixCls}-box {
    display: block;
  }
  .@{__pageHeaderPrefixCls}-box-item {
    width: auto;
  }
  .@{__pageHeaderPrefixCls}-box-item-main {
    margin-top: 20px;
    &__with-logo {
      padding-left: 0px;
    }
  }
}